html,
body {
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

p {
  line-height: 1.5;
  max-width: 80ch;
}

.pre {
  white-space: pre-wrap;
}

#main-drawer-content {
  background: #fff;
}

.mw-300 {
  min-width: 300px;
}

.mw-500 {
  min-width: 500px;
}

.w-360px {
  width: 360px !important;
}

.break-word {
  overflow-wrap: break-word;
}

.header {
  font-weight: var(--mdc-typography-bold-font-weight);
  font-size: 1.17em;
  display: block;
  margin-bottom: 1rem;
}

.required-input {
  color: var(--mdc-theme-status-error);
}

.mh-275px {
  min-height: 275px;
}

.mdc-data-table__table-container {
  overflow-y: hidden;
}

.admin-message-text-area .mdc-text-field__input {
  height: auto !important;
}

.justify-self-center {
  justify-self: center;
}

@media print {
  footer,
  .drawer {
    display: none !important;
  }
}

td.low-contrast.mdc-data-table__cell {
  color: var(--mdc-theme-text-secondary-on-light);
}
