html,
body {
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.auto-width {
  width: auto;
}

.max-content-width {
  width: max-content;
}

#main-drawer-content {
  background: #fff;
}

.h-300 {
  height: 300px;
}

.break-word {
  overflow-wrap: break-word;
}

.header {
  font-weight: var(--mdc-typography-bold-font-weight);
  font-size: 1.17em;
  display: block;
  margin-bottom: 1rem;
}
