// https://material.io/develop/web/docs/theming
@use '@material/theme';
@include theme.core-styles;

:root {
  --mdc-theme-primary: #005CB9;
  --mdc-theme-primary-variant: #5885b3;
  --mdc-theme-primary-header-bg: #EEF2FA;
  --mdc-theme-secondary: #FFB619;
  --mdc-theme-error: #C30000;
  --mdc-theme-neutral: #6D7580;
  --progress-bar-color: #005CB9;
  --mdc-theme-status-warning: #B95000;
  --mdc-theme-status-warning-bg: #FFF4EC;
  --mdc-theme-status-error: #DA1414;
  --mdc-theme-status-error-bg: #FEEFEF;
  --mdc-theme-status-info: #2E5AAC;
  --mdc-theme-status-info-bg: #EEF2FA;
  --mdc-theme-status-success: hsla(134, 52%, 32%, 1);
  --mdc-theme-status-success-bg: hsla(135, 50%, 95%, 1);
}

.mdc-theme--primary {
  color: var(--mdc-theme-primary);
}

.mdc-theme--primary-variant {
  color: var(--mdc-theme-primary-variant);
}

.mdc-theme--neutral {
  color: var(--mdc-theme-neutral)
}

.mdc-theme--secondary-background {
  background-color: var(--mdc-theme-secondary) !important;
}
