// https://material.io/develop/web/docs/theming
@use '@material/theme';
@include theme.core-styles;

:root {
  --mdc-theme-primary: hsla(210, 100%, 36%, 1);
  --mdc-theme-primary-variant: hsla(210, 37%, 52%, 1);
  --mdc-theme-primary-header-bg: hsla(220, 54%, 95%, 1);
  --mdc-theme-secondary: hsla(40, 100%, 54%, 1);
  --mdc-theme-error: hsla(0, 100%, 38%, 1);
  --mdc-theme-neutral: hsla(214, 8%, 46%, 1);
  --mdc-theme-neutral-variant: hsla(213, 17%, 27%, 1);
  --mdc-theme-neutral-bg: hsla(213, 22%, 94%, 1);
  --mdc-theme-neutral-9: hsla(213, 29%, 97%, 1);
  --mdc-theme-neutral-action: hsla(214, 11%, 37%, 1);
  --progress-bar-color: hsla(210, 100%, 36%, 1);
  --mdc-theme-status-warning: hsla(25, 100%, 36%, 1);
  --mdc-theme-status-warning-bg: hsla(25, 100%, 96%, 1);
  --mdc-theme-status-error: hsla(0, 83%, 46%, 1);
  --mdc-theme-status-error-bg: hsla(0, 88%, 96%, 1);
  --mdc-theme-status-info: hsla(219, 57%, 42%, 1);
  --mdc-theme-status-info-bg: hsla(220, 54%, 95%, 1);
  --mdc-theme-status-success: hsla(134, 52%, 32%, 1);
  --mdc-theme-status-success-bg: hsla(135, 50%, 95%, 1);
  --mdc-required-input: hsla(214, 8%, 46%, 1);
  --mdc-button-outline-color: hsla(210, 100%, 36%, 1);
  --mdc-list-item__subtitle: hsla(213, 4%, 39%, 1);
  --mdc-menu-icon-color: hsla(213, 4%, 39%, 1);
}

.mdc-theme--primary {
  color: var(--mdc-theme-primary);
}

.mdc-theme--primary-variant {
  color: var(--mdc-theme-primary-variant);
}

.mdc-theme--neutral {
  color: var(--mdc-theme-neutral);
}

.mdc-theme--secondary-background {
  background-color: var(--mdc-theme-secondary) !important;
}

.mdc-theme--neutral-background {
  background-color: var(--mdc-theme-neutral-bg) !important;
}

.remove-button {
  --mdc-theme-primary: var(--mdc-theme-neutral-action);
}

.error-button {
  --mdc-theme-primary: var(--mdc-theme-status-error);
  border: 2px solid !important;
}
