// https://material.io/develop/web/components/typography
@use '@material/typography/mdc-typography';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Source+Sans+Pro:wght@300;400;600&display=swap');

:root {
  font-family: Source Sans Pro, Roboto, sans-serif;
  line-height: 1.4rem;
  --mdc-typography-font-family: Source Sans Pro, Roboto, sans-serif;
  --mdc-typography-bold-font-weight: 700;
  --mdc-typography-button-font-weight: 700;
  --mdc-typography-select-font-weight: 500;
  --mdc-typography-button-text-transform: capitalize;
}

.mdc-bold-font {
  font-weight: var(--mdc-typography-bold-font-weight);
}

.mdc-drawer .mdc-deprecated-list .mdc-deprecated-list-item,
.mdc-menu .mdc-deprecated-list .mdc-deprecated-list-item {
  font-weight: var(--mdc-typography-button-font-weight);
}

.mdc-select__menu .mdc-deprecated-list .mdc-deprecated-list-item {
  font-weight: var(--mdc-typography-select-font-weight);
}

.mdc-data-table__header-cell {
  font-weight: var(--mdc-typography-bold-font-weight);
}

.mdc-deprecated-list-item__text, .mdc-deprecated-list-item__subtitle {
  text-transform: capitalize;
}

.mdc-deprecated-list-item__text {
  text-transform: unset;
}